.card-body {
    padding-bottom: 0;
}

.card-img-top {
    height: 13rem;
    object-fit: cover;
}

.card-footer {
    text-align: right;
    background-color: #fff;
    border: none;
}

.badge {
    position: absolute;
    margin: 1rem;
    padding: 0.5rem;
}
