.navbar {
  height: 100%;
  flex: 1 1;
  flex-direction: column;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  color: theme-color('light');
}

.nav-link {
  padding: 0 0 0.2rem 0 !important;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1;

  font-size: large;
  color: theme-color('dark');

  &:hover {
    color: theme-color('light');
    border-bottom: 1px solid theme-color('light');
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
