.navbar {
  height: 100%;
    flex: 1 1;
    flex-direction: column;
}

.navbar-nav {
    text-align: center;
}

.navbar-brand {
    color: theme-color('light');
}

.nav-link {
  padding: 0 0 0.2rem 0 !important;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 1;

  font-size: large;
  color: theme-color('dark');

  &:hover {
    color: theme-color('light');
    border-bottom: 1px solid theme-color('light');
    }
}
