.footer {
  display: flex;
  flex-direction: column;
  background-color: theme-color('primary');
  color: theme-color('light');
  text-decoration: none;

  .footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-copyright {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #000000ad;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    p {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;

    a {
      padding: 1rem 0.5rem;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  a {
    color: theme-color('light');
  }
}
