.posts-grid {
  margin-left: -2rem;
  margin-right: -2rem;
}

.post-card-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;

  .post {
    height: 100%;
  }

  .card {
    height: 100%;
  }
}
