/** Import Bootstrap functions */
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';

$theme-colors: (
  primary: #bd5d4f,
  light: #f8f3ed,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

@import 'node_modules/bootstrap/scss/variables';
